@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: white;
  background: #000000;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.full-width {
  width: 100%;
  width: -moz-available;
  width: -webkit-fill-available;
}
